<extend file="resource/view/site"/>
<block name="content">
    <ul class="nav nav-tabs">
        <li class="active"><a href="?a=setting/site/credit&t=site">积分列表</a></li>
        <li><a href="?a=setting/site/tactics&t=site">积分策略</a></li>
    </ul>
    <form action="" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>启用否？</th>
                        <th>积分</th>
                        <th>积分名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach from="v('setting.creditnames')" key="$name" value="$c">
                        <tr>
                            <td width="150">
                                <if value="in_array($name,array('credit1','credit2'))">
                                    <input type="checkbox" checked disabled>
                                    <input type="hidden" name="{{$name}}[status]" value="1">
                                    <else/>
                                    <if value="$c['status']==1">
                                        <input type="checkbox" name="{{$name}}[status]" value="1" checked>
                                        <else/>
                                        <input type="checkbox" name="{{$name}}[status]" value="1">
                                    </if>
                                </if>
                            </td>
                            <td width="300">
                                {{$name}}
                            </td>
                            <td>
                                <div style="width:200px;">
                                    <input type="text" name="{{$name}}[title]" value="{{$c['title']}}" class="form-control">
                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class="col-lg-1 btn btn-primary">保存</button>
    </form>
</block>