<extend file='resource/view/site.php'/>
<block name="content">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{{url('hdcms.lists')}}">压缩包列表</a></li>
        <li class="active"><a href="javascript:;">添加压缩包</a></li>
    </ul>
    <br/>
    <form action="" class="form-horizontal ng-cloak" ng-controller="ctrl" method="post">
        <div class="panel panel-default" ng-sho1w="field.title">
            <div class="panel-heading">
                更新包资料
            </div>
            <div class="panel-body">
                <if value="empty($_GET['id'])">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">压缩包</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="file" readonly="readonly">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="upFile()">选择压缩包文件</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" ng-model="field.type" value="full"> 完整包
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="field.type" value="upgrade"> 更新包
                            </label>
                        </div>
                    </div>
                </if>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">版本号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="field.version">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">更新日志</label>
                        <div class="col-sm-10">
                            <textarea ng-model="field.logs" rows="5" class="form-control"></textarea>
                            <span class="help-block">每行一下更新日志内容</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">帮助说明</label>
                        <div class="col-sm-10">
                            <textarea ng-model="field.explain" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
            </div>
        </div>
        <input type="hidden" name="data">
        <button type="submit" class="btn btn-primary" ng-show="field.logs">保存模块资料</button>
    </form>
</block>
<script>
    require(['angular', 'underscore', 'util', 'jquery'], function (angular, _, util, $) {
        angular.module('app', []).controller('ctrl', ['$scope', function ($scope) {
            $scope.field = <?php echo $field;?>;
            //上传压缩包文件
            $scope.upFile = function () {
                options = {
                    extensions: 'zip',
                    data: {data: 'ext_app', status: 0,uploadDir:'zips/hdcms'},
                    fileSingleSizeLimit:10 * 1024 * 1024,
                };
                util.file(function (files) {
                    if (files.length == 1) {
                        $("#file").val(files[0]);
                        $scope.field.file = files[0];
                        $scope.$apply();
                    }
                }, options)
            }
            //提交表单
            $("form").submit(function () {
                var msg = '';
                if (!util.get('id') && $.trim($scope.field.file) == '') {
                    msg += '请选择压缩包文件<br/>';
                }
                if ($.trim($scope.field.logs) == '') {
                    msg += '更新日志不能为空<br/>';
                }
                if (msg) {
                    util.message(msg, '', 'warning');
                    return false;
                }
                $("[name='data']").val(angular.toJson($scope.field));
                return true;
            })
        }]);
        $(function () {
            angular.bootstrap($("form")[0], ['app']);
        });
    });
</script>