<extend file='addons/store/template/admin.html'/>
<block name="content">
    <div class="alert alert-info">
        <span><i class="fa fa-info-circle"></i>  HDCMS系统更新模块时需要通过密钥连接</span>
        <br/>
        <span><i class="fa fa-info-circle"></i>  重置密钥后,需要在HDCMS系统后台重新登录云帐号</span>
        <br/>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            密钥管理
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">密钥</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="secret" type="text" class="form-control" value="{{$user['secret']}}" readonly="readonly">
                        <span class="input-group-btn">
                                <button class="btn btn-success" type="button" onclick="update()">更新密钥</button>
                            </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</block>
<script>
    function update() {
        require(['jquery', 'util'], function ($, util) {
            $.post('{{url("member.updateSecret")}}', function (json) {
                $("#secret").val(json.secret);
                util.message('密钥更新成功', '', 'success');
            }, 'json');
        })
    }
</script>