/**
 * 顶部导航
 * @author 向军
 */
.mobile_header {
  width: 100%;
  z-index: 9999;
  position: relative;
  top: 0px;
  height: 40px;
  background: #2c70ab;
  display: flex;
  justify-content: space-between;
}
.mobile_header .mobile_header_content {
  color: #fff;
  font-size: 15px;
  line-height: 2.5em;
}
.mobile_header .back_url {
  width: 30px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 2.5em;
}
.mobile_header .cat_menu_list {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  line-height: 2em;
  position: relative;
}
.mobile_header .child_menu_list {
  position: absolute;
  z-index: 9999;
  top: 40px;
  right: 0px;
  width: 100%;
  background: #fefefe;
  padding: 5px;
  clear: both;
  display: none;
}
.mobile_header .child_menu_list dl dt {
  font-size: 1.1em;
  border-bottom: solid 1px #eee;
  padding-bottom: 5px;
  margin-bottom: 6px;
  margin-top: 15px;
}
.mobile_header .child_menu_list dl dt a {
  color: #333;
}
.mobile_header .child_menu_list dl dd {
  clear: both;
  height: auto;
  overflow: hidden;
}
.mobile_header .child_menu_list dl dd a {
  color: #666;
  float: left;
  padding: 0px 5px;
}
.head-bg-gray {
  position: absolute;
  background: #000;
  top: 0px;
  width: 100%;
  bottom: 0px;
  z-index: 100;
  opacity: .5;
  display: none;
}
/**
 * 快捷导航
 * @author 向军
 */
/*水平导航样式*/
.quickmenu-style1 {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.quickmenu-style1 .nav-list1 .home {
  width: 50% !important;
}
.quickmenu-style1 .nav-list1 ul {
  width: 50% !important;
}
.quickmenu-style1 .nav-list1 ul li {
  width: 100%;
}
.quickmenu-style1 .nav-list2 .home {
  width: 16% !important;
}
.quickmenu-style1 .nav-list2 ul {
  width: 84%;
}
.quickmenu-style1 .nav-list2 ul li {
  width: 50%;
}
.quickmenu-style1 .nav-list3 .home {
  width: 16% !important;
}
.quickmenu-style1 .nav-list3 ul {
  width: 84%;
}
.quickmenu-style1 .nav-list3 ul li {
  width: 33%;
}
.quickmenu-style1 .nav-list-warp {
  width: 100%;
  height: 40px;
  border-top: solid 1px #cccccc;
  position: absolute;
  bottom: 0px;
  background: #fefefe;
}
.quickmenu-style1 .nav-list-warp .home {
  font-size: 25px;
  width: 100%;
  float: left;
  text-align: center;
}
.quickmenu-style1 .nav-list-warp ul {
  float: left;
  line-height: 40px;
  width: 84%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.quickmenu-style1 .nav-list-warp ul li {
  text-align: center;
  float: left;
  border-left: solid 1px #aaaaaa;
  position: relative;
}
.quickmenu-style1 .nav-list-warp ul li .sub-menus {
  position: absolute;
  bottom: 50px;
  width: 90%;
  margin: 0px 5px;
  border: solid 1px #aaaaaa;
  border-radius: 10px;
  background: #fefefe;
}
.quickmenu-style1 .nav-list-warp ul li .sub-menus a {
  height: 40px;
  clear: both;
  display: block;
}
.quickmenu-style1 .nav-list-warp ul li .sub-menus:after {
  z-index: 241;
  border-color: #ffffff transparent transparent;
  margin-bottom: -15px;
}
.quickmenu-style1 .nav-list-warp ul li .sub-menus:before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 240;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid red;
  border-color: #afaeaf transparent transparent;
  margin-left: -8px;
  margin-bottom: -16px;
}
div.top-menu {
  display: none;
}
.list-group {
  margin-bottom: 5px;
}
.header {
  height: 110px;
  background-size: 100%;
  color: #ffffff;
  overflow: hidden;
}
.header div.ico img {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  border: solid 2px #ffffff;
  margin-top: 30px;
}
.header div.user {
  padding-top: 20px;
  text-align: left;
}
.header div.user h2 {
  font-size: 20px;
}
.header .setting {
  color: #ffffff;
  margin-top: 50px;
  font-size: 22px;
}
div.pay {
  padding: 10px 0px;
  background: #ffffff;
  clear: both;
  border-radius: 0px;
  margin-bottom: 5px;
}
div.pay div {
  padding: 0px;
  text-align: center;
  font-size: 12px;
}
div.pay div a {
  color: #333333;
}
div.pay div i {
  font-size: 22px;
  display: block;
  color: #aaaaaa;
  margin-bottom: 6px;
}
.module_item {
  position: relative;
}
.module_item .list-group li.list-group-item {
  border-radius: 0px;
}
.module_item .list-group li.list-group-item a {
  padding: 12px 15px;
  color: #333;
}
.module-edit-action {
  position: absolute;
  text-align: right;
  bottom: 0px;
  right: 3px;
  display: none;
}
.module-edit-action a {
  padding: 2px 5px;
  display: inline-block;
  font-size: 12px;
  background: #999999;
  color: #ffffff;
}
.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 45px !important;
}
.card_footer a {
  color: #252525;
  font-size: 12px;
  text-align: center;
}
.card_footer a i {
  color: #999999;
  display: block;
  font-size: 16px;
}
div.voucher {
  width: 300px;
  box-sizing: content-box;
  background: #ffffff;
  margin: 10px auto;
  border: solid 1px #dddddd;
}
div.voucher .info {
  margin: 0px;
  padding: 10px 10px 0px;
}
div.voucher .info h3 {
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
}
div.voucher .info p.endtime {
  font-size: 12px;
  color: #666666;
  margin: 5px 0px 0px;
}
div.voucher .info .thumb {
  height: 120px;
  overflow: hidden;
  border: solid 1px #dddddd;
}
div.voucher .info .thumb img {
  min-width: 100%;
}
div.voucher .integral {
  padding: 5px 10px;
  line-height: 2em;
}
div.voucher .integral button {
  float: right;
}
div.voucher .more {
  margin-top: 6px;
  clear: both;
  background: #00a0e9;
  height: 25px;
  text-align: center;
  color: #ffffff;
  line-height: 2em;
  font-size: 12px;
}
div.voucher .desc {
  font-size: 12px;
  line-height: 2em;
  color: #252525;
  text-indent: 2em;
  padding: 6px;
}
div.card {
  width: 320px;
  margin: 5px auto;
}
div.card div.item {
  border: solid 2px #dddddd;
  height: 75px;
  background: #f5f5f5;
  box-sizing: content-box;
  background: #ffffff;
  padding: 5px;
}
div.card div.item:first-child {
  margin-top: 20px;
}
div.card div.item .left-i {
  width: 228px;
  float: left;
  border-right: solid 1px #dddddd;
}
div.card div.item .left-i .info {
  clear: both;
  border-bottom: solid 1px #dcdcdc;
  height: 40px;
  box-sizing: content-box;
  padding: 3px 5px;
}
div.card div.item .left-i .info .title {
  font-size: 25px;
  color: #4bbe97;
  float: left;
}
div.card div.item .left-i .info .nums {
  float: right;
  font-size: 12px;
  line-height: 1.5em;
  color: #666666;
  text-align: center;
}
div.card div.item .left-i .info .nums i {
  color: #4bbe97;
  font-size: 23px;
  display: block;
}
div.card div.item .left-i .desc {
  margin: 10px 0 0 6px;
  font-size: 12px;
  color: #666666;
}
div.card div.item .right-i {
  width: 68px;
  float: left;
  box-sizing: content-box;
  padding: 5px;
}
div.card div.item .right-i .tile {
  font-size: 14px;
  font-weight: bold;
  color: #4bbe97;
  text-align: center;
}
div.card div.item .right-i .times {
  text-align: center;
  font-size: 12px;
  color: #666666;
}
div.card div.item .right-i .times .white-line {
  margin: 0px;
}
div.card .convert {
  height: 30px;
  background: #4bbe97;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 2.2em;
}
div.card .convert a {
  display: block;
  color: #ffffff;
}
.status2 .title,
.status3 .title {
  color: #afafaf !important;
}
.status2 .nums i,
.status3 .nums i {
  color: #afafaf !important;
}
.status2 .tile,
.status3 .tile {
  color: #afafaf !important;
}
.status2 .convert,
.status3 .convert {
  background: #afafaf !important;
}
.employ {
  background: #458c9a;
  margin-top: -5px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}
.em-btns {
  margin: 10px 0px;
}
.em-btns .btn {
  border-radius: 0px;
}
body {
  background: #f5f5f5 !important;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
.uc-header {
  min-height: 40px !important;
  overflow: hidden;
}
.uc-header p {
  margin: 0px;
  line-height: 3em;
}
.uc-header .navbar-brand {
  padding: 0px 15px;
  line-height: 2.5em;
}
