/**
 * 顶部导航
 * @author 向军
 */
.mobile_header {
  width: 100%;
  z-index: 9999;
  position: relative;
  top: 0px;
  height: 40px;
  background: #2c70ab;
  display: flex;
  justify-content: space-between;
}
.mobile_header .mobile_header_content {
  color: #fff;
  font-size: 15px;
  line-height: 2.5em;
}
.mobile_header .back_url {
  width: 30px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 2.5em;
}
.mobile_header .cat_menu_list {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  line-height: 2em;
  position: relative;
}
.mobile_header .child_menu_list {
  position: absolute;
  z-index: 9999;
  top: 40px;
  right: 0px;
  width: 100%;
  background: #fefefe;
  padding: 5px;
  clear: both;
  display: none;
}
.mobile_header .child_menu_list dl dt {
  font-size: 1.1em;
  border-bottom: solid 1px #eee;
  padding-bottom: 5px;
  margin-bottom: 6px;
  margin-top: 15px;
}
.mobile_header .child_menu_list dl dt a {
  color: #333;
}
.mobile_header .child_menu_list dl dd {
  clear: both;
  height: auto;
  overflow: hidden;
}
.mobile_header .child_menu_list dl dd a {
  color: #666;
  float: left;
  padding: 0px 5px;
}
.head-bg-gray {
  position: absolute;
  background: #000;
  top: 0px;
  width: 100%;
  bottom: 0px;
  z-index: 100;
  opacity: .5;
  display: none;
}
.ucenter #module-lists .list-group .list-group-item {
  border-radius: 0px;
}
.ucenter #module-lists .list-group .list-group-item a {
  font-size: 12px;
  padding: 12px 15px;
  color: #333333;
}
.ucenter .list-group {
  margin-bottom: 5px;
}
.ucenter .header {
  height: 110px;
  background-size: 100%;
  color: #ffffff;
  overflow: hidden;
}
.ucenter .header div.ico img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: solid 2px #ffffff;
  margin-top: 30px;
}
.ucenter .header div.user {
  padding-top: 20px;
  text-align: left;
  font-size: 12px;
}
.ucenter .header div.user a {
  color: #ffffff;
}
.ucenter .header div.user h2 {
  font-size: 16px;
}
.ucenter .header div.user div {
  padding-right: 0px;
}
.ucenter .header .setting {
  color: #ffffff;
  margin-top: 50px;
  font-size: 22px;
}
.ucenter div.pay {
  padding: 10px 0px;
  background: #ffffff;
  clear: both;
  border-radius: 0px;
  margin-bottom: 5px;
}
.ucenter div.pay div {
  padding: 0px;
  text-align: center;
  font-size: 12px;
}
.ucenter div.pay div a {
  color: #333333;
}
.ucenter div.pay div i {
  font-size: 22px;
  display: block;
  color: #aaaaaa;
  margin-bottom: 6px;
}
.ticket .card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 45px !important;
}
.ticket .card_footer a {
  color: #252525;
  font-size: 12px;
  text-align: center;
}
.ticket .card_footer a i {
  color: #999999;
  display: block;
  font-size: 16px;
}
.ticket div.voucher {
  width: 300px;
  box-sizing: content-box;
  background: #ffffff;
  margin: 10px auto;
  border: solid 1px #dddddd;
}
.ticket div.voucher .info {
  margin: 0px;
  padding: 10px 10px 0px;
}
.ticket div.voucher .info h3 {
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
}
.ticket div.voucher .info p.endtime {
  font-size: 12px;
  color: #666666;
  margin: 5px 0px 0px;
}
.ticket div.voucher .info .thumb {
  height: 120px;
  overflow: hidden;
  border: solid 1px #dddddd;
}
.ticket div.voucher .info .thumb img {
  min-width: 100%;
}
.ticket div.voucher .integral {
  padding: 5px 10px;
  line-height: 2em;
}
.ticket div.voucher .integral button {
  float: right;
}
.ticket div.voucher .more {
  margin-top: 6px;
  clear: both;
  background: #00a0e9;
  height: 25px;
  text-align: center;
  color: #ffffff;
  line-height: 2em;
  font-size: 12px;
}
.ticket div.voucher .desc {
  font-size: 12px;
  line-height: 2em;
  color: #252525;
  text-indent: 2em;
  padding: 6px;
}
.ticket div.card {
  width: 320px;
  margin: 5px auto;
}
.ticket div.card div.item {
  border: solid 2px #dddddd;
  height: 75px;
  background: #f5f5f5;
  box-sizing: content-box;
  background: #ffffff;
  padding: 5px;
}
.ticket div.card div.item:first-child {
  margin-top: 20px;
}
.ticket div.card div.item .left-i {
  width: 228px;
  float: left;
  border-right: solid 1px #dddddd;
}
.ticket div.card div.item .left-i .info {
  clear: both;
  border-bottom: solid 1px #dcdcdc;
  height: 40px;
  box-sizing: content-box;
  padding: 3px 5px;
}
.ticket div.card div.item .left-i .info .title {
  font-size: 25px;
  color: #4bbe97;
  float: left;
}
.ticket div.card div.item .left-i .info .nums {
  float: right;
  font-size: 12px;
  line-height: 1.5em;
  color: #666666;
  text-align: center;
}
.ticket div.card div.item .left-i .info .nums i {
  color: #4bbe97;
  font-size: 23px;
  display: block;
}
.ticket div.card div.item .left-i .desc {
  margin: 10px 0 0 6px;
  font-size: 12px;
  color: #666666;
}
.ticket div.card div.item .right-i {
  width: 68px;
  float: left;
  box-sizing: content-box;
  padding: 5px;
}
.ticket div.card div.item .right-i .tile {
  font-size: 14px;
  font-weight: bold;
  color: #4bbe97;
  text-align: center;
}
.ticket div.card div.item .right-i .times {
  text-align: center;
  font-size: 12px;
  color: #666666;
}
.ticket div.card div.item .right-i .times .white-line {
  margin: 0px;
}
.ticket div.card .convert {
  height: 30px;
  background: #4bbe97;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 2.2em;
}
.ticket div.card .convert a {
  display: block;
  color: #ffffff;
}
.ticket .status2 .title,
.ticket .status3 .title {
  color: #afafaf !important;
}
.ticket .status2 .nums i,
.ticket .status3 .nums i {
  color: #afafaf !important;
}
.ticket .status2 .tile,
.ticket .status3 .tile {
  color: #afafaf !important;
}
.ticket .status2 .convert,
.ticket .status3 .convert {
  background: #afafaf !important;
}
.ticket .employ {
  background: #458c9a;
  margin-top: -5px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}
.ticket .em-btns {
  margin: 10px 0px;
}
.ticket .em-btns .btn {
  border-radius: 0px;
}
body {
  background: #f5f5f5 !important;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
.uc-header {
  min-height: 40px !important;
  overflow: hidden;
}
.uc-header p {
  margin: 0px;
  line-height: 3em;
}
.uc-header .navbar-brand {
  padding: 0px 15px;
  line-height: 2.5em;
}
.quickmenu_normal {
  position: fixed;
  bottom: 0px;
  text-align: center;
  color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  border-top: solid 1px #dddddd;
  height: 35px;
  font-size: 12px;
}
.quickmenu_normal .home {
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quickmenu_normal .home i {
  font-size: 20px;
  flex-basis: 100%;
}
.quickmenu_normal ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}
.quickmenu_normal ul li {
  border-left: solid 1px #dddddd;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  position: relative;
}
.quickmenu_normal ul li .sub-menus {
  display: none;
  flex-basis: 100%;
  position: absolute;
  bottom: 38px;
  left: 0px;
  border: solid 1px #dddddd;
  width: 100%;
}
.quickmenu_normal ul li .sub-menus a {
  height: 35px;
  display: inline-block;
  border-bottom: solid 1px #dddddd;
  line-height: 2.5em;
  width: 100%;
  background: #f5f5f5;
}
.quickmenu_normal ul li .sub-menus a:last-child {
  border: none;
}
