.ucenter #module-lists .list-group .list-group-item {
  border-radius: 0px;
}
.ucenter #module-lists .list-group .list-group-item a {
  font-size: 12px;
  padding: 12px 15px;
  color: #333333;
}
.ucenter .list-group {
  margin-bottom: 5px;
}
.ucenter .list-group a {
  color: #555555;
}
.ucenter .header {
  height: 110px;
  background-size: 100%;
  color: #ffffff;
  overflow: hidden;
}
.ucenter .header div.ico img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: solid 2px #ffffff;
  margin-top: 30px;
}
.ucenter .header div.user {
  padding-top: 20px;
  text-align: left;
  font-size: 12px;
}
.ucenter .header div.user a {
  color: #ffffff;
}
.ucenter .header div.user h2 {
  font-size: 16px;
}
.ucenter .header div.user div {
  padding-right: 0px;
}
.ucenter .header .setting {
  color: #ffffff;
  margin-top: 50px;
  font-size: 22px;
}
.ucenter div.pay {
  padding: 10px 0px;
  background: #ffffff;
  clear: both;
  border-radius: 0px;
  margin-bottom: 5px;
}
.ucenter div.pay div {
  padding: 0px;
  text-align: center;
  font-size: 12px;
}
.ucenter div.pay div a {
  color: #333333;
}
.ucenter div.pay div i {
  font-size: 22px;
  display: block;
  color: #aaaaaa;
  margin-bottom: 6px;
}
