/*
|--------------------------------------------------------------------------
| 后台登录与注册样式
|--------------------------------------------------------------------------
*/
.login {
  background: url('../images/bg-sky.jpg');
}
.login .logo {
  margin-top: 100px;
  margin-bottom: 10px;
}
.login .well {
  background: #ffffff;
  opacity: 1;
  padding: 30px;
  box-shadow: 0px 0px 100px #dddddd;
}
.login .copyright {
  color: #666666;
  font-size: 14px;
}
