.wrap {
  padding     : 15px;
  font-size   : 12px;
  line-height : 2em;
  div.info {
    margin-bottom : 15px;
    clear         : both;
    .times {
      color : #aaaaaa;
    }
    .author {
      color : #999999;
    }
  }
  img {
    max-width : 98%;
  }
}