<extend file='resource/view/site.php'/>
<block name="content">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{{url('lesson.lists')}}">视频列表</a></li>
        <li class="active"><a href="{{url('lesson.post')}}">添加视频</a></li>
    </ul>
    <form action="" method="post" class="form-horizontal ng-cloak" ng-controller="ctrl" ng-cloak>
        <div class="panel panel-default">
            <div class="panel-heading">
                视频列表
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">课程标题</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.lesson_title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">特殊属性</label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="1" ng-checked="data.lesson_iscommend==1" ng-model="data.lesson_iscommend"> 头条
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="1" ng-checked="data.lesson_ishot==1" ng-model="data.lesson_ishot"> 推荐
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">课程简介</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="5" ng-model="data.lesson_desc"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">标签</label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline" ng-repeat="v in data.tag">
                            <input type="checkbox" ng-value="v.tag_id" ng-model="v.status"> @{{v.tag_name}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">详细介绍</label>
                    <div class="col-sm-8">
                        <textarea id="lesson_content" style="height:300px;width:100%;"
                                  ng-model="data.lesson_content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">视频截图</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" readonly="" ng-model="data.lesson_thumb">
                            <div class="input-group-btn">
                                <button ng-click="thumb()" class="btn btn-default" type="button">选择图片</button>
                            </div>
                        </div>
                        <div class="input-group" style="margin-top:5px;">
                            <img ng-src="@{{data.lesson_thumb?data.lesson_thumb:'resource/images/nopic.jpg'}}"
                                 class="img-responsive img-thumbnail" width="150">
                            <span class="help-block">缩略图尺寸 390x240</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">授课讲师</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="data.teacher_id">
                            <option value="">选择讲师</option>
                                <option ng-repeat="v in data.teacher" ng-value="v.teacher_id"
                                        ng-selected="data.teacher_id==v.teacher_id">@{{v.teacher_name}}
                                </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">资源下载</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">素材下载地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.lesson_material">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">软件下载地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.lesson_soft">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">视频打包下载地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data.lesson_video_download">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">视频管理</h3>
            </div>
            <div class="panel-body">
                <div class="well well-sm" ng-repeat="v in data.videos">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body" style="position: relative;">
                                    <div ng-show="v.uploading" id="percentage@{{$index}}"
                                         style="font-size:5vw;text-align:center;color:#666;line-height:1.8em;font-weight: bold;position: absolute;top:20px;left:20px;right:20px;bottom:25px;background: #fff;">
                                        100%
                                    </div>
                                    <video src="" id="video@{{$index}}" controls poster="resource/images/nopic.jpg"
                                           width="100%"></video>
                                </div>
                                <div class="panel-footer">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group" role="group" ng-click="uploadVideo(v)">
                                            <button type="button" id="pickVideo@{{$index}}" class="btn btn-default">上传视频
                                            </button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" ng-click="delVideo(v)">删除视频
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">视频标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="v.video_title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">播放时间</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="v.video_duration">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">播放次数</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="v.video_click">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">视频链接</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="v.video_path">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="well text-center" style="cursor: pointer;color:#999;" ng-click="addVideo()">
                        <i class="fa fa-plus-circle fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="保存数据" class="btn btn-primary">
    </form>
</block>
<script>
    require(['angular', 'underscore', 'util', 'jquery', 'oss'], function (angular, _, util, $, oss) {
        angular.module('app', []).controller('ctrl', ['$scope', function ($scope) {
            $scope.data =<?php echo $data;?>;
//            $scope.data = {
//                lesson_title: '',
//                lesson_desc: 'aa',
//                lesson_content: '',
//                teacher_id: 1,
//                lesson_thumb: 'aa',
//                lesson_material: 'dsf',
//                lesson_soft: 'sdf',
//                lesson_iscommend: 1,
//                lesson_ishot: 1,
//                lesson_video_download: 'aa',
//                videos: [
//                    {video_title: 334, video_path: 'aa', video_duration: '33aa', video_click: 111},
//                    {video_title: 3434, video_path: 'bbbb', video_duration: 'bb', video_click: 111334},
//                ],
//                tag: [
//                    {tag_name: 'Tag1', 'tag_id': 1},
//                    {tag_name: 'Tag2', 'tag_id': 2},
//                    {tag_name: 'Tag3', 'tag_id': 3}
//                ]
//            }
            //详细内容
            util.ueditor('lesson_content', {}, function (editor) {
                editor.addListener('contentChange', function () {
                    $scope.data.lesson_content = editor.getContent();
                });
                editor.addListener('ready', function () {
                    if (editor && editor.getContent() != $scope.data.lesson_content) {
                        editor.setContent($scope.data.lesson_content);
                    }
                    $scope.$watch('data', function (item) {
                        if (editor && editor.getContent() != item.lesson_content) {
                            editor.setContent(item.lesson_content ? item.lesson_content : '');
                        }
                    }, true);
                });
                editor.addListener('clearRange', function () {
                    $scope.data.lesson_content = editor.getContent();
                    $scope.$apply();
                });
            });
            //上传缩略图
            $scope.thumb = function () {
                util.image(function (images) {
                    $scope.data.lesson_thumb = images[0];
                    $scope.$apply();
                })
            }
            //删除视频
            $scope.delVideo = function (item) {
                if (confirm('确定删除视频吗')) {
                    $scope.data.videos = _.without($scope.data.videos, item);
                }
            }
            //添加视频表单
            $scope.addVideo = function () {
                $scope.data.videos.push({video_title: '', video_path: '', video_duration: '', video_click: 0});
            }
            //上传视频
            $scope.uploadVideo = function (item) {
                var id = '#pickVideo' + _.lastIndexOf($scope.data.videos, item);
                var uploader = oss.upload({
                    dir: 'lesson_video/',
                    pick: id,
                    accept: {
                        title: 'Images',
                        extensions: 'mp4',
                        mimeTypes: 'video/mp4'
                    }
                });
                uploader.on('startUpload', function () {
                    item.uploading = true;
                    $scope.$apply();
                });
                uploader.on('uploadSuccess', function (file, response) {
                    $('#video' + _.lastIndexOf($scope.data.videos, item)).attr('src', oss.oss.host + '/' + oss.oss.object_name);
                    item.video_path = oss.oss.host + '/' + oss.oss.object_name;
                    $scope.$apply();
                });
                uploader.on('uploadProgress', function (file, percentage) {
                    $('#percentage' + _.lastIndexOf($scope.data.videos, item)).html(parseInt(percentage * 100) + '%')
                })
                uploader.on('uploadComplete', function () {
                    uploader.reset();
                    item.uploading = false;
                    $scope.$apply();
                })
                $(id).click(function (event) {
                    event.stopPropagation();
                });
                $(id).click();
            }
            util.submit({
                successUrl: 'back',
                before: function () {
                    this.data = {};
                    this.data.field = angular.toJson($scope.data);
                    return true;
                }
            });
        }]);
        $(function () {
            angular.bootstrap($("form")[0], ['app']);
        });
    });
</script>