<extend file="resource/view/site"/>
<block name="content">
	<ul class="nav nav-tabs" role="tablist">
		<li><a href="{{url('category.lists')}}">栏目管理</a></li>
		<li class="active" ng-if="field.cid>0"><a href="javascript:;">编辑栏目</a></li>
	</ul>
	<form action="" method="post" class="form-horizontal ng-cloak" ng-cloak id="form" ng-controller="MyController" ng-submit="submit($event)">
		<input type="hidden" name="cid" ng-model="field.cid">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#tab1" role="tab" data-toggle="tab">基本信息</a></li>
			<li><a href="#tab2" role="tab" data-toggle="tab">模板设置</a></li>
			<li><a href="#tab3" role="tab" data-toggle="tab">伪静态设置</a></li>
		</ul>
		<div class="tab-content">
			<div class="active tab-pane fade in" id="tab1">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">分类名称</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="field.catname" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">栏目状态</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" value="1" ng-model="field.status" value="1"> 开启
								</label>
								<label class="radio-inline">
									<input type="radio" value="0" ng-model="field.status" value="0"> 关闭
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">栏目排序</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="field.orderby" >
							</div>
						</div>
						<if value="!Request::get('cid')">
						<div class="form-group">
							<label class="col-sm-2 control-label">栏目模型</label>
							<div class="col-sm-9">
								<select class="form-control" ng-model="field.mid">
									<foreach from="$model" value="$m">
										<option value="{{$m['mid']}}">{{$m['model_title']}}</option>
									</foreach>
								</select>
								<span class="help-block">为了数据完整性模型选择后不允许修改,请仔细认真选择</span>
							</div>
						</div>
						</if>
						<div class="form-group">
							<label class="col-sm-2 control-label">父级栏目</label>
							<div class="col-sm-9">
								<select class="js-example-basic-single form-control" ng-model="field.pid" ng-options="a.cid as a._catname for a in category">
									<option value="">一级栏目</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">封面栏目</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" value="1" ng-model="field.ishomepage" value="1"> 是
								</label>
								<label class="radio-inline">
									<input type="radio" value="0" ng-model="field.ishomepage" value="0"> 否
								</label>
								<span class="help-block">封面栏目不能添加文章,主要用于栏目数据的集中展示,类似专题页</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">分类描述</label>
							<div class="col-sm-9">
								<textarea name="description" rows="5" class="form-control" ng-model="field.description"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">直接链接</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="field.linkurl">
								<span class="help-block">链接必须是以http://或是https://开头。没有直接链接，请留空</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="tab2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">封面模板</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="field.index_tpl" readonly="readonly">
									<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="template('index_tpl')">选择模板</button>
								  </span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">栏目模板</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="field.category_tpl" readonly="readonly">
									<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="template('category_tpl')">选择模板</button>
								  </span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">文章模板</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="field.content_tpl" readonly="readonly">
									<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="template('content_tpl')">选择模板</button>
								  </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="tab3">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">栏目静态规则</label>
							<div class="col-sm-8">
                                <select class="form-control" ng-model="field.html_category">
                                    <option value="article{siteid}-{cid}-{page}.html"
                                            ng-selected="'article{siteid}-{cid}-{page}.html'==field.html_category">article1-1-2.html(article{siteid}-{cid}-{page}.html)
                                    </option>
                                    <option value="article{siteid}_{cid}_{page}.html"
                                            ng-selected="'article{siteid}_{cid}_{page}.html'==field.html_category">article1_1_2.html(article{siteid}_{cid}_{page}.html)
                                    </option>
                                </select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">文章静态规则</label>
							<div class="col-sm-8">
                                <select class="form-control" ng-model="field.html_content">
                                    <option value="article{siteid}-{aid}-{cid}-{mid}.html"
                                            ng-selected="'article{siteid}-{aid}-{cid}-{mid}.html'==field.html_content">article1-1-1-2.html(article{siteid}-{aid}-{cid}-{mid}.html)
                                    </option>
                                    <option value="article{siteid}_{aid}-{cid}-{mid}.html}"
                                            ng-selected="'article{siteid}_{aid}-{cid}-{mid}.html'==field.html_content">article1_1_1_2.html(article{siteid}_{aid}-{cid}-{mid}.html)
                                    </option>
                                </select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="data">
		<button class="btn btn-primary" type="submit">保存数据</button>
	</form>
</block>
<script>
	require(['angular','hdcms','util'], function (angular,hdcms,util) {
		angular.module('myApp', []).controller('MyController', ['$scope', function ($scope) {
			$scope.category = <?php echo json_encode( $category );?>;
			$scope.model = <?php echo json_encode( $model );?>;
			$scope.field = <?php echo json_encode( $field );?>;
			if (!$scope.field) {
				$scope.field = {
					catname:'',
					orderby:0,
					pid:0,
					status:1,
					mid:$scope.model[0].mid,
					description:'',
					linkurl:'',
					ishomepage:0,
					index_tpl:'article_index.html',
					category_tpl:'article_list.html',
					content_tpl:'article.html',
					html_category:'article{siteid}-{cid}-{page}.html',
					html_content:'article{siteid}-{aid}-{cid}-{mid}.html',
				};
			}
            //选择模板
            $scope.template=function(type){
				hdcms.template(function(file){
					$scope.field[type]=file;
					$scope.$apply();
				})
            };
			$scope.submit=function(event) {
				event.preventDefault();
                var msg = '';
                if ($scope.field.catname == '') {
                    msg += '栏目标题不能为空';
                }
                if (msg) {
                    util.message(msg, '', 'error');
                }
                $('[name="data"]').val(angular.toJson($scope.field));
                 require(['util'], function (util) {
                        util.submit();
                 });
            }
		}]);
		$(function () {
			angular.bootstrap(document.getElementById('form'), ['myApp'])
		});
	});
</script>