<extend file="resource/view/site"/>
<block name="content">
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#tab1">微站管理</a></li>
		<li><a href="{{url('site.post')}}">添加站点</a></li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">可用的微站 </h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover" style="table-layout: fixed">
				<thead>
				<tr>
					<th>微站名称</th>
					<th>关键字</th>
					<th>风格</th>
					<th>模板</th>
					<th width="300">操作</th>
				</tr>
				</thead>
				<tbody>
				<foreach from="$data" key="$key" value="$d">
					<tr>
						<td>
							{{$d['title']}}
							<if value="$d['is_default']==1">
								<span class="label label-success">默认站点</span>
							</if>
						</td>
						<td>{{$d['site_info']['keyword']}}</td>
						<td>{{$d['site_info']['template_title']}}</td>
						<td>theme/{{$d['site_info']['template_name']}}</td>
						<td>
							<div class="btn-group">
								<a href="{{url('site.post')}}&webid={{$d['id']}}" class="btn btn-default btn-sm">编辑</a>
								<a href="javascript:preview('{{$d['url']}}&t=web&mobile=1');" class="btn btn-default btn-sm">预览</a>
								<a href="{{url('slide/lists')}}&webid={{$d['id']}}" class="btn btn-default btn-sm">幻灯片</a>
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
										其他操作 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<if value="$d['is_default']==0">
											<li><a href="{{url('site.setDefault')}}&webid={{$d['id']}}">默认站点</a></li>
										</if>
										<li><a href="javascript:;" url="{{__ROOT__}}{{$d['url']}}" class="copy">复制链接</a></li>
										<li class="divider"></li>
										<li><a href="?s=site/navigate/lists&entry=home&m={{$_GET['m']}}&webid={{$d['id']}}">微站导航菜单</a></li>
										<li><a href="javascript:;" onclick="del({{$d['id']}})">删除</a></li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
				</foreach>
				</tbody>
			</table>
		</div>
	</div>
</block>
<style>
	/*预览模态框*/
	#premobile .modal-body {
		padding : 0px;
	}
</style>
<script>
	//复制站点链接
	require(['util'], function (util) {
		$('.copy').each(function () {
			var This = this;
			util.zclip(This, $(This).attr('url'),function(elem,content){
				util.message('复制成功','','success',2);
			})
		});
	});
	//删除站点
	function del(webid) {
		util.confirm('确定删除该站点吗?', function () {
			$.get("{{url('site.del')}}", {webid: webid}, function (res) {
				if (res.valid) {
					util.message(res.message, 'refresh', 'success',2);
				} else {
					util.message(res.message, '', 'error');
				}
			}, 'json');
		});
	}
	//预览
	function preview(url) {
		require(['util'], function (util) {
			var obj = util.modal({
				title: '预览微网站',//标题
				id: 'premobile',
				content: '<iframe width="320" height="480" src="' + url + '" frameborder="0"></iframe>',//内容
				footer: '<button type="button" class="btn btn-default confirm" data-dismiss="modal">关闭</button>',//底部
				width: 322,//宽度
				height:480,//高度
			});
			//显示模态框
			obj.modal('show');
		});
	}
</script>