<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        HDCMS免费的微信/移动/桌面开发工具
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="{{__ROOT__}}/node_modules/hdjs/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{template_url()}}/css/index.css"/>
</head>
<body>
<div class="yuheader">
    <ul>
        <li><a href="http://www.hdcms.com">首页</a></li>
        <li><a href="http://www.kancloud.cn/houdunwang/hdcms/169716" target="_blank">在线手册</a></li>
        <li><a href="http://bbs.houdunwang.com/forum-289-1.html" target="_blank">视频教程</a></li>
        <li><a href="http://www.hdcms.com/index.php?s=system/article/show&id=4">更新日志</a></li>
        <li><a href="{{url('entry.home',[],'store')}}" class="shop" target="_blank">应用商店</a></li>
        <span style="color: #CF4646;">每周五更新,周周有惊喜!</span>
        <a style="float:right;" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=aa6a15828eb49ad2ebf082cf4e54ea1bf8b59dc1952a72e06abe7abce6b48ecd">
            <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="HDCMS交流1群" style="width:normal;" title="HDCMS交流1群">
        </a>
    </ul>
</div>
<div class="yuwrap">
    <div class="yulogoBox">
        <h1>HDCMS</h1>
        <h4>开源、免费的微信/移动/桌面三网通开发平台</h4>
    </div>
</div>
<div class="yupic">
    <img src="{{template_url()}}/images/hdcms.jpg"/>
</div>
<div class="yubtn">
    <a href="javascript:alert('新版更新中,请稍候下载')">在线安装文件(推荐)</a>
    <a class="default" href="javascript:alert('新版更新中,请稍候下载')">离线压缩包(体积大)</a>
</div>
<div class="text-center">
    <span>交流QQ群:248767393</span>
</div>
<div class="yufooter">
    <div><a href="http://www.hdcms.com" target="_blank">我们的使命：帮助中小企业快速实现互联网价值,增长企业效益!</a></div>
    <p>Copyright © 2010-2016 hdcms.com All Rights Reserved 京ICP备京ICP备12048441号-7</p>
</div>
</body>
</html>