<extend file='resource/view/site.php'/>
<block name="content">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{{url('manage.lists')}}">学生列表</a></li>
        <li class="active"><a href="{{url('manage.post')}}">添加学生</a></li>
    </ul>
    <form action="" class="form-horizontal" method="post" onsubmit="return false;">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加学生资料
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">学生姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" name="name" required="required" value="{{$field['name']}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">毕业时间</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" name="graduation" required="required" value="{{$field['graduation']}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">就业薪资</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" name="wage" required="required" value="{{$field['wage']}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">目前薪资</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" name="present" required="required" value="{{$field['present']}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">工作地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="address" placeholder="请输入工作地址如: 北京"
                               required="required" value="{{$field['address']}}">
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="保存资料" class="btn btn-primary">
    </form>
</block>
<script>
    require(['jquery','util'], function ($,util) {
        $('form').submit(function () {
            $.post('{{__URL__}}', $("form").serialize(), function (json) {
                if (json.valid == 1) {
                    util.message(json.message, "refresh", 'success');
                } else {
                    util.message(json.message, "", 'warning');
                }
            }, 'json');
        })
    })
</script>