<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{$hdcms['title']}}</title>
    <link href="{{__ROOT__}}/node_modules/hdjs/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
        <h1>
            {{$hdcms['title']}}
        </h1>
        <div>
            <span class="times">发表时间: {{date('Y-m-d',$hdcms['createtime'])}}</span>
            <span class="author">作者: {{$hdcms['author']}}</span>
        </div>
        <div>
            {{$hdcms['content']}}
        </div>
</div>

</body>
</html>
