<extend file="resource/view/site"/>
<block name="content">
    <form action="" method="post" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">模块域名设置</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">域名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="domain" value="{{$domain}}">
                        <span class="help-block">请保证域名已经解析到服务器, 不需要添加http协议前缀</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">保存数据</button>
    </form>
</block>